@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
:root {
  --bg-light: #ddff;
  --bg-dark: #252525;
  --bg-purple: #703eff;
  --text-color: #fff;
}

* {
  padding: 0;
  font-family: 'Work Sans', sans-serif;  margin: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: #703eff;
  color: #fff;
}

body {
  background-color: var(--bg-light);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

::-webkit-scrollbar {
  height: 8px;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar_bg);
  border-radius: 5px;
  border: 1px solid #a0a0a0;
}

.ant-form-item-row {
  display: block !important;
}

.ant-form-item-feedback-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-form-item-control-input-content {
  display: flex;
  justify-content: center;
}

.ant-input-affix-wrapper:focus {
  border: var(--bg-purple) !important;
}

:where(.css-dev-only-do-not-override-14wwjjs).ant-input-affix-wrapper:hover {
  border-color: var(--bg-purple) !important;
}

:where(.css-dev-only-do-not-override-14wwjjs).ant-input-affix-wrapper-focused {
  border-color: var(--bg-purple);
}

.ant-upload-wrapper {
  width: 100%;
}

.ant-btn {
  color: #fff;
  margin: 0 auto;
  height: 40px;
  width: 100%;
  background-color: var(--bg-purple) !important;
}

.ant-btn.ant-btn-icon-only {
  background-color: transparent !important;
}

.ant-btn:hover {
  border-color: transparent !important;
  color: #fff !important;
}